---
import Layout from "@layouts/Layout.astro";
import { type CollectionEntry, getCollection } from "astro:content";
export async function getStaticPaths() {
  const posts = await getCollection("til");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
const post = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <main>
    <div hx-swap-oob="none">
      <h1>{post.data.title}</h1>
      <p class="mono-font">{post.data.pubDate}</p>
      <sub-title>{post.data.description}</sub-title>
    </div>
    <Content />
  </main>
</Layout>
