---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Today I learned">
  <main>
    <h1>TIL about...</h1>

    <ul>
      <li>
        <div class="box">
          <strong class="block titlebar">Missing Style</strong>
          <div class="f-col">
            <br />A minimalist CSS framework for small projects
            <div class="f-row justify-content:end">
              <a class="chip ok" href="/til/missingstyle"> Blogpost </a>
              <a class="chip info" href="https://missing.style/"> Visit </a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </main>
</Layout>
