---
import { Prism } from '@astrojs/prism';
import Layout from '@layouts/Layout.astro';
---
<Layout>
<main>
  <figure>
    <Prism lang="js" code={`const foo = 'bar';`} />
  </figure>
</main>
</Layout>
