---
import Layout from "@layouts/Layout.astro";
import HtmlTricks from "@components/HtmlTricks.astro";
---

<Layout title="Hyperscript-Flavored Site">
  <main>
    <h1>This is Heading 1</h1>
    <h2>This is Heading 2</h2>

    <p>
      This is paragraph 1. This is paragraph 1. This is paragraph 1. This is
      paragraph 1. This is paragraph 1. This is paragraph 1. This is paragraph
      1. This is paragraph 1. This is paragraph 1. This is paragraph 1. This is
      paragraph 1.
    </p>

    <h3>This is Heading 3</h3>

    <p>
      This is paragraph 2. This is paragraph 2. This is paragraph 2. This is
      paragraph 2. This is paragraph 2. This is paragraph 2. This is paragraph
      2. This is paragraph 2. This is paragraph 2. This is paragraph 2.
    </p>

    <h4>This is Heading 4</h4>
    <p>
      This is paragraph 3. This is paragraph 3. This is paragraph 3. This is
      paragraph 3. This is paragraph 3. This is paragraph 3. This is paragraph
      3. This is paragraph 3. This is paragraph 3. This is paragraph 3.
    </p>
    <hr />
    <HtmlTricks />
  </main>
</Layout>
