---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div id={`html-tricks-${title.toLowerCase()}`} x-data="{ expanded: false }">
  <h2 @click="expanded = ! expanded">{title}</h2>
  <div x-show="expanded" x-collapse>
    <slot />
  </div>
</div>
