---
import FancyTable from "@components/FancyTable.astro";
import CodeFigure from "@components/CodeFigure.astro";
import Collapse from "@components/Collapse.astro";
---

<h1>HTML Tricks</h1>
<aside>This page contains some useful HTML tricks.</aside>
<hr />
<Collapse title="Text Formatting">
  <p style="text-align: left;">This</p>
  <p style="text-align: center;">Is</p>
  <p style="text-align: right;">Paragraph Alignment</p>
</Collapse>
<hr />
<Collapse title="Flexbox">
  <button hx-get="/api/flex/" hx-swap="outerHTML"
    >Learn More about CSS Flexbox</button
  >
</Collapse>
<hr />
<Collapse title="Grid">
  <button hx-get="/api/grid/" hx-swap="outerHTML"
    >Learn More about CSS Grid</button
  >
</Collapse>
<hr />
<Collapse title="Tables">
  <FancyTable />
</Collapse>
<hr />

<Collapse title="Forms">
  <form class="table rows">
    <p>
      <label for="name">Name</label>
      <input type="text" id="name" name="name" />
    </p>
    <p>
      <label for="adr">Address</label>
      <input type="text" id="adr" name="adr" />
    </p>
  </form>
</Collapse>
<hr />

<Collapse title="Components">
  <div class="box bad">
    <strong class="block titlebar">Error</strong>
    Task failed successfully
  </div>

  <CodeFigure entry="some_rust" />
</Collapse>
<hr />

<Collapse title="HTMX">
  <p>Lorem ipsum</p>
  <button hx-get="/api/clicked" hx-swap="outerHTML"> Click Me </button>
</Collapse>
<hr />

<Collapse title="Cats">
  <img
    data-src="https://www.litter-robot.com/media/wysiwyg/orange-tabby-outside.png"
    alt="orange tabby cat outside"
    width="1000"
    height="812"
    src="https://www.litter-robot.com/media/wysiwyg/orange-tabby-outside.png"
  />
  <img
    src="https://image.petmd.com/files/inline-images/black-cat-breeds-american-shorthair.jpeg?VersionId=FHXiYOmOykNtIdlZ.V5LQC_E8wXzlgyG"
    alt="yellow-eyed black cat lying on a bed"
  />
  <img
    crossorigin="anonymous"
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/42/Kitten_Sibling_Pair.jpg/1920px-Kitten_Sibling_Pair.jpg"
    class="mw-mmv-final-image jpg mw-mmv-dialog-is-open"
    alt="A pair of sibling kittens from the same litter at 11 weeks old"
    width="740"
    height="464"
  />
</Collapse>
<hr />
