<header class="navbar">
  <nav aria-label="Site sections">
    <ul role="list">
      <li>
        <a href="/">Home</a>
        <li><a href="/til">TIL</a></li>
      </li>
      <nav aria-label="Social media links">
        <ul role="list">
          <li>
            <a href="https://github.com/johnhkchen/hypersample">GitHub</a>
          </li>
        </ul>
      </nav>
    </ul>
  </nav>
</header>
