<header class="navbar" hx-swap-oob="none">
  <nav aria-label="Site sections">
    <ul role="list">
      <li>
        <a href="/">Home</a>
        <li><a href="/til">TIL</a></li>
        <li><a href="/grid">Grid</a></li>
      </li>
    </ul>
  </nav>
</header>
